.form-group {
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 4px;
  color: #333;
}

.form-control {
  padding: 4px 12px;
}

.form-error {
  color: #f45725;
  margin-top: 4px;
}

.btn,
.link {
  padding: 10px 16px 8px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.btn {
  border: none;
  font-size: 16px;
}

.link:hover,
.btn:hover {
  filter: contrast(0.8) brightness(1.15);
}

.btn:disabled {
  background: #111;
  color: #fff;
}

.link {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
