header {
  display: flex;
  padding: 15px;
  font-size: 24px;
  border-bottom: 4px solid #ffa500;
  background-color: rgba(33, 33, 33, 0.5);
}

h4 {
  color: #fff;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
