html,
body {
  margin: 0;
  height: 100%;
  background: #f4f5f7;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  padding: 1px 6px 2px 6px;
  display: inline-flex;
}

span:hover {
  background: #99cfec;
  border-radius: 20px;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 15px 15px 5px;
  justify-content: space-between;
  align-items: center;
}

.font {
  font-size: 24px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.action {
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
}

button.action:hover {
  background: #99cfec;
}

.space {
  padding: 15px;
  flex-grow: 1;
}

.file-zone {
  background-color: #f1f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file {
  max-width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.active {
  background: #e9e2f0;
  border-radius: 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
