html,
body {
  margin: 0;
  height: 100%;
  background: #f9f8fd;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  padding: 1px 6px 2px 6px;
  display: inline-flex;
  border-radius: 20px;
}

span:hover {
  background: #99cfec;
  border-radius: 20px;
  cursor: pointer;
}

button.action:hover {
  background: #99cfec;
}

.header {
  display: flex;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
}

.font,
.on {
  font-size: 24px;
  text-decoration: none;
  padding: 10px 12px;
}

.font {
  color: #000;
}

.on {
  border-radius: 8px;
  color: #333;
  background: rgba(51, 51, 51, 0.05);
}

.app {
  min-height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.action {
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
}

.space {
  padding: 15px;
  flex-grow: 1;
}

.file-zone {
  background-color: #f1f0f0;
  align-items: center;
}

.file {
  max-width: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.active {
  background: #e9e2f0;
}

.primary {
  background: #d8ece8;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.form-control {
  margin-bottom: 12px;
}

.btn,
.link {
  padding: 10px 16px 8px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.btn {
  border: none;
  font-size: 16px;
}

.link:hover,
.btn:hover {
  filter: contrast(0.8) brightness(1.15);
}

.link {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
