---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<div id="root">
			<slot />
		</div>
	</body>
</html>

<style>
	@import "@radix-ui/themes/styles.css";

	:root {
		--color-background: #f9f8fd;
	}

	html,
	body {
		margin: 0;
		height: 100%;
		background: var(--color-background);
		font-family: "Inter", sans-serif;
	}

	* {
		margin: 0;
	}

	/* Custom button hover styles */
	.btn:hover {
		background: #99cfec;
	}
</style>
