---
import { Theme } from '@radix-ui/themes';
import Header from '../components/Header.jsx';
import SocialLinks from '../components/SocialLinks.jsx';
import '../styles/global.css';

export interface Props {
  title: string;
  hideSocialFooter?: boolean;
}

const { title, hideSocialFooter = false } = Astro.props;
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang='en-US'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body>
    <Theme
      accentColor="orange"
      appearance="dark"
      grayColor="slate"
      radius="medium"
      scaling="100%"
    >
      <div id='root'>
        <Header activeRoute={pathname} client:load />
        <slot />
        {!hideSocialFooter && (
          <footer className="footer">
            <SocialLinks />
          </footer>
        )}
      </div>
    </Theme>
  </body>
</html>
