---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		height: 100%;
		background: #f9f8fd;
		font-family: Arial, Helvetica, sans-serif;
	}

	* {
		margin: 0;
	}

	button:hover {
		background: #99cfec;
	}
</style>
